/*****************************************************************************/
/* Home: Style */
/*****************************************************************************/
@import url(https://fonts.googleapis.com/css?family=Quicksand);


/* Styles */
html,body {
  height:100%;
  margin:0;
  background-color: #ffffff;
  color: black;
}

.home {
	height: 100%;
	margin: 0;
}
.pageintro {
	height:100%;
	min-height:100%;/*for mozilla*/
	color: white;
	text-align: center;
	height:100%;
	width:100%;
	overflow:hidden;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.pageintro h1 {
	font-size: 100px;
}

.pageintro i {
	margin-top: 10px;
}

html>body .pageintro {
}

.home {
	font-family: 'Quicksand', sans-serif;

}

.overlayTitle {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(48,227,202, .4);
	padding-top: 20px;
}

.description {
	text-align: center;
	height:100%;
  	width:100%;
  	overflow:hidden;
  	background-repeat: no-repeat;
  	background-size: cover;
}

.artistName {
	position: absolute;
	right: 20px;
	bottom: 15px;
	font-size: 20px;
}

.section {
	margin-top: 20px;
	background-color: white;
	height: 80px;
	text-align: center;
    color: #30E3CA;
	padding: 10px;
}

.userImage {
	display: inline-block;
	height: 250px;
	width: 250px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 50%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
	display: inline-block;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: 250px;
	width: 100%;
	border-color: white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	padding: 20px;
}

.overlay    {  
  background:rgba(0,0,0,.75);
  text-align:center;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  width: inherit;
  opacity:0;
  -webkit-transition: opacity .3s ease;
  -moz-transition: opacity .3s ease;
  border-radius: inherit;
}

.card:hover .overlay {
 opacity:1;
}

.overlay i {
	color: #30E3CA;
	padding-top: 95px;
}


.content {
	text-align: center;
	padding-bottom: 50px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E4F9F5;
}

.content h3 {
	padding-bottom: 20px;
}

.bgImage {
	height: 300px;
	z-index: 0;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.credit {
	margin-top: 30px;
}

@media all and (max-width: 500px) {
	.pageintro h1 {
	font-size: 50px;
	}
	.userImage {
		height: 150px;
		width: 150px;
	}
}
